<div class="card__country">
    <img class="flag" src="{{flag}}" alt="{{name}}">
    <h2 class="card__title">{{name}}</h2>
</div>

<p class="country_info">Capital: {{capital}}</p>
<p class="country_info">Population: {{population}}</p>